{% extends 'noticias/base.html' %}
{% load static %}
{% block cuerpo %}
<div class="container">
  <!-- Contenido principal -->
  <div class="container mt-5" style="height: 80vh;">
    <h1>Categorias</h1>
    <br>
    <ul>
      {% for categoria in categorias %}
      <li>
        {{categoria.categoria}}
        <ul>
            {% for noticia in noticias %}
            {% if noticia.categoria == categoria %}
            <li>
              <a class="link" href="noticia?{{noticia.idNoticia}}">
                {{noticia.noticia}}
              </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}