{% extends 'noticias/base.html' %}
{% load static %}
{% block cabeceras%}
<script src="{% static 'js/formulario.js' %}"></script>
{% endblock %}
{% block cuerpo %}
<div class="container">
  <!-- Formulario de contacto -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="mb-4">Formulario de contacto</h2>
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="pnombre" name="pnombre" required pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" title="Ingrese sólo letras">
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input required="" type="text" class="form-control" id="papellido" name="papellido" required pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" title="Ingrese sólo letras">
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Numero de Teléfono</label>
            <input required="" type="text" class="form-control" id="telefono" name="telefono" minlength="9" maxlength="9" type="tel" class="form-control" id="telefono" name="telefono" required pattern="[0-9]{9}" title="Ingrese un número de teléfono válido con 9 dígitos">
          </div>
          <div class="mb-3">
            <label for="correo" class="form-label">Correo electrónico</label>
            <input class="form-control" id="correo" name="correo" class="form-control" id="correo" name="correo" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Ingrese un correo válido">
          </div>
          <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje (50-150 caracteres)</label>
            <textarea class="form-control" id="mensaje" name="mensaje" rows="5" minlength="50" maxlength="150" oninput="updateCharacterCount(this)" required></textarea>
            <small id="contador-caracteres" class="form-text text-muted">150 caracteres restantes</small>
          </div>
          <button type="submit" class="btn btn-danger" >Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}