{% extends 'noticias/base.html' %}
{% load static %}
{% block cuerpo %}
<div class="container">
  <!-- Contenido principal -->
  <div class="container mt-5" style="height: 80vh;">
    <h1>Periodistas</h1>
    <br>
    <ul>
      <li>
        Juan Urrutia
        <ul>
          <li>
            <a class="link" href="noticia1/index.html">
              Boric responde a ministra de la Corte Suprema por isapres: “Es importante que los jueces hablen a través
              de los fallos y no entrevistas”.
            </a>
          </li>
          <li>
            <a class="link" href="noticia2/index.html">
              Boca Juniors vs Colo Colo: Cuándo, a qué hora y dónde ver por TV y online al Cacique en Copa Libertadores.
            </a>
          </li>
          <li>
            <a class="link" href="noticia8/index.html">
              La lectura del ADN de 233 especies de primates ilumina qué es una persona y cómo surgen las enfermedades
              humanas.
            </a>
          </li>
        </ul>
      </li>
      <li>
        Bastian Hartal
        <ul>
          <li>
            <a class="link" href="noticia3/index.html">
              Tohá pide aclaración a la Suprema tras dichos de Vivanco por devolución de excedentes de isapres.
            </a>
          </li>
          <li>
            <a class="link" href="noticia4/index.html">
              Persecución policial termina en choque y con un detenido en La Granja.
            </a>
          </li>
          <li>
            <a class="link" href="noticia9/index.html">
              Duelo en la música tropical: Muere Cristián Rodríguez, vocalista de Garras de Amor.
            </a>
          </li>
        </ul>
      </li>
      <li>
        José Ubilla
        <ul>
          <li>
            <a class="link" href="noticia5/index.html">
              Fanático de Jeffrey Dahmer mató a su sobrino de 4 años y lo ocultó en una lavadora.
            </a>
          </li>
          <li>
            <a class="link" href="noticia6/index.html">
              12 personas murieron asfixiadas tras el colapso de una mina de oro en la Amazonía venezolana.
            </a>
          </li>
          <li>
            <a class="link" href="noticia7/index.html">
              Festival Fauna Primavera 2023: revisa las fechas, artistas confirmados y venta de entradas.
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
{% endblock %}